# Health Insurance Marketplace Dataset Analysis

# Introduction

Analysis of the health insurance marketplace dataset from the U.S.The dataset consists of health insurance and dental plans offered through healthcare.gov between 2014 and 2016. It encompasses rates for smokers and non-smokers, separately listed for each age group, benefits included in the plans, states in which the plans were offered, and other information. The dataset does not contain any information on actual purchases. This notebook will show data cleaning.

# Goal for this Notebook:

This Notebook will show :                   
$1$ : Data Handling                    
$2$ : Importing Data with Pandas                                 
$3$ : Cleaning Data

# Libraries Installation

In [1]:
!pip install feather-format

Requirement already satisfied: feather-format in /gpfs/global_fs01/sym_shared/YPProdSpark/user/s3f0-2d12d2c01fc95f-04662317cedd/.local/lib/python2.7/site-packages
Requirement already satisfied: cython>=0.21 in /usr/local/src/bluemix_jupyter_bundle.v36/notebook/lib/python2.7/site-packages (from feather-format)

# Reuired Libraries

In [2]:
import pandas as pd
import csv as csv
import feather


# Data Handling

# Load Data from Object Storage

In [3]:
import requests, StringIO, json

def get_file_content(credentials):
    """For given credentials, this functions returns a StringIO object containg the file content 
    from the associated Bluemix Object Storage V3."""

    url1 = ''.join([credentials['auth_url'], '/v3/auth/tokens'])
    data = {'auth': {'identity': {'methods': ['password'],
            'password': {'user': {'name': credentials['username'],'domain': {'id': credentials['domain_id']},
            'password': credentials['password']}}}}}
    headers1 = {'Content-Type': 'application/json'}
    resp1 = requests.post(url=url1, data=json.dumps(data), headers=headers1)
    resp1_body = resp1.json()
    for e1 in resp1_body['token']['catalog']:
        if(e1['type']=='object-store'):
            for e2 in e1['endpoints']:
                if(e2['interface']=='public'and e2['region']==credentials['region']):
                    url2 = ''.join([e2['url'],'/', credentials['container'], '/', credentials['filename']])
    s_subject_token = resp1.headers['x-subject-token']
    headers2 = {'X-Auth-Token': s_subject_token, 'accept': 'application/json'}
    resp2 = requests.get(url=url2, headers=headers2)
    return StringIO.StringIO(resp2.content)

In [4]:
# @hidden_cell
credentials_3 = {
  'auth_url':'https://identity.open.softlayer.com',
  'project':'object_storage_2b828cf4_900f_402f_bf48_658e734e24eb',
  'project_id':'3363315e0847493e95e2dd6627dff446',
  'region':'dallas',
  'user_id':'f3773ad53f0f40fabb319b8c57fe2923',
  'domain_id':'7379ce49c7b448f0842f8de5825740e1',
  'domain_name':'1251707',
  'username':'member_2fc4f98b62fe31a0a9622663bf1e641e3ec376bd',
  'password':"""PrvFu_qoa[Y.32KV""",
  'container':'HealthcareMarketPlace',
  'tenantId':'undefined',
  'filename':'Rate.csv'
}

In [5]:
# @hidden_cell
credentials_4 = {
  'auth_url':'https://identity.open.softlayer.com',
  'project':'object_storage_2b828cf4_900f_402f_bf48_658e734e24eb',
  'project_id':'3363315e0847493e95e2dd6627dff446',
  'region':'dallas',
  'user_id':'f3773ad53f0f40fabb319b8c57fe2923',
  'domain_id':'7379ce49c7b448f0842f8de5825740e1',
  'domain_name':'1251707',
  'username':'member_2fc4f98b62fe31a0a9622663bf1e641e3ec376bd',
  'password':"""PrvFu_qoa[Y.32KV""",
  'container':'HealthcareMarketPlace',
  'tenantId':'undefined',
  'filename':'PlanAttributes.csv'
}

In [6]:
rate_raw = pd.read_csv(get_file_content(credentials_4))
rate_raw.head(3)

,BusinessYear,StateCode,IssuerId,SourceName,VersionNum,ImportDate,IssuerId2,FederalTIN,RateEffectiveDate,RateExpirationDate,...,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents,RowNumber
0,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,29.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
1,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,14
2,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,15

In [7]:
planattribute_raw = pd.read_csv(get_file_content(credentials_3))
planattribute_raw.head(3)

/usr/local/src/bluemix_jupyter_bundle.v36/notebook/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0,7,8,9,10,11,12,13,14,15,18,19,20,22,23,24,25,26,27,28,29,31,32,33,34,39,40,41,42,66,67,68,70,71,72,75,76,77,79,80,81,82,84,85,86,88,89,90,92,93,94,96,97,98,136,137,138,140,141,142,145,146,147,150,151,152,154,155,156,158,159,160,162,163,164,166,167,168) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,AVCalculatorOutputNumber,BeginPrimaryCareCostSharingAfterNumberOfVisits,BeginPrimaryCareDeductibleCoinsuranceAfterNumberOfCopays,BenefitPackageId,BusinessYear,CSRVariationType,ChildOnlyOffering,ChildOnlyPlanId,CompositeRatingOffered,DEHBCombInnOonFamilyMOOP,...,TEHBOutOfNetFamilyMOOP,TEHBOutOfNetFamilyPerGroupMOOP,TEHBOutOfNetFamilyPerPersonMOOP,TEHBOutOfNetIndividualMOOP,TIN,URLForEnrollmentPayment,URLForSummaryofBenefitsCoverage,UniquePlanDesign,VersionNum,WellnessProgramOffered
0,NaN,0,0,1,2014,Standard Low Off Exchange Plan,Allows Adult and Child-Only,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,93-0438772,https://www.modahealth.com/employers/enroll.shtml,https://www.modahealth.com/producers/grp/den.s...,NaN,6,NaN
1,NaN,0,0,1,2014,Standard Low On Exchange Plan,Allows Adult and Child-Only,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,93-0438772,https://www.modahealth.com/employers/enroll.shtml,https://www.modahealth.com/producers/grp/den.s...,NaN,6,NaN
2,NaN,0,0,1,2014,Standard High Off Exchange Plan,Allows Adult and Child-Only,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,93-0438772,https://www.modahealth.com/employers/enroll.shtml,https://www.modahealth.com/producers/grp/den.s...,NaN,6,NaN

In [8]:
p = planattribute_raw.groupby(["StateCode"], as_index=False)['PlanId'].count()
p = p.rename(columns={'PlanId': 'TotalPlans'})
state_df=p[["StateCode","TotalPlans"]]

In [9]:
path = 'state_df.feather'
feather.write_dataframe(state_df, path)

#### Let's take a look:

In [10]:
rate_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77353 entries, 0 to 77352
Columns: 176 entries, AVCalculatorOutputNumber to WellnessProgramOffered
dtypes: float64(7), int64(9), object(160)
memory usage: 104.5+ MB

In [11]:
planattribute_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12694445 entries, 0 to 12694444
Data columns (total 24 columns):
BusinessYear                                 int64
StateCode                                    object
IssuerId                                     int64
SourceName                                   object
VersionNum                                   int64
ImportDate                                   object
IssuerId2                                    int64
FederalTIN                                   object
RateEffectiveDate                            object
RateExpirationDate                           object
PlanId                                       object
RatingAreaId                                 object
Tobacco                                      object
Age                                          object
IndividualRate                               float64
IndividualTobaccoRate                        float64
Couple                                       float64
PrimarySubscriberAndOneDependent             float64
PrimarySubscriberAndTwoDependents            float64
PrimarySubscriberAndThreeOrMoreDependents    float64
CoupleAndOneDependent                        float64
CoupleAndTwoDependents                       float64
CoupleAndThreeOrMoreDependents               float64
RowNumber                                    int64
dtypes: float64(9), int64(5), object(10)
memory usage: 2.4+ GB

# Data Cleaning

#### Rate File Cleaning

The Individual feature is important for us so we are deleteing all other Attributes. To handle this we will drop them from the dataframe to preserve the integrity of our dataset.                                                      


To do that we'll use this line of code to drop the features entirely:

In [12]:
rate_data=rate_raw[['BusinessYear','IssuerId','ImportDate','PlanId','Age','IndividualRate','Couple','CoupleAndOneDependent','CoupleAndTwoDependents','CoupleAndThreeOrMoreDependents','StateCode','Tobacco']]
rate_data.head(3)

,BusinessYear,IssuerId,ImportDate,PlanId,Age,IndividualRate,Couple,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents,StateCode,Tobacco
0,2014,21989,2014-03-19 07:06:49,21989AK0010001,0-20,29.00,NaN,NaN,NaN,NaN,AK,No Preference
1,2014,21989,2014-03-19 07:06:49,21989AK0020001,Family Option,36.95,73.9,144.56,144.56,144.56,AK,No Preference
2,2014,21989,2014-03-19 07:06:49,21989AK0020001,Family Option,36.95,73.9,144.56,144.56,144.56,AK,No Preference

In [31]:
path = 'rate_data.feather'
feather.write_dataframe(rate_data, path)

We will focus on family option plans analysis, so we delete all the plans for special ages:

In [13]:
rate_df = rate_data[rate_data.Age == "Family Option"]
rate_df.head(3)

,BusinessYear,IssuerId,ImportDate,PlanId,Age,IndividualRate,Couple,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents,StateCode,Tobacco
1,2014,21989,2014-03-19 07:06:49,21989AK0020001,Family Option,36.95,73.9,144.56,144.56,144.56,AK,No Preference
2,2014,21989,2014-03-19 07:06:49,21989AK0020001,Family Option,36.95,73.9,144.56,144.56,144.56,AK,No Preference
5,2014,21989,2014-03-19 07:06:49,21989AK0020001,Family Option,36.95,73.9,144.56,144.56,144.56,AK,No Preference

In [14]:
rate_df = rate_df.dropna()

In [15]:
rate_df['ImportDate']=rate_df['ImportDate'].apply(pd.to_datetime)

In [16]:
path = 'rate_df.feather'
feather.write_dataframe(rate_df, path)

#### Plan Atrribute Data Cleaning

Again we only get important features for us so others we are deleteing all. To handle this we will drop them from the dataframe to preserve the integrity of our dataset. To do that we'll use this line of code to drop the features entirely:

In [17]:
plan_data=planattribute_raw[['BusinessYear','StateCode','IssuerId','ImportDate','PlanId','MetalLevel',
                                        'TEHBInnTier1FamilyMOOP','TEHBInnTier1IndividualMOOP']]
plan_data.head(3)

,BusinessYear,StateCode,IssuerId,ImportDate,PlanId,MetalLevel,TEHBInnTier1FamilyMOOP,TEHBInnTier1IndividualMOOP
0,2014,AK,21989,2014-03-19 07:06:49,21989AK0020002-00,Low,NaN,NaN
1,2014,AK,21989,2014-03-19 07:06:49,21989AK0020002-01,Low,NaN,NaN
2,2014,AK,21989,2014-03-19 07:06:49,21989AK0020001-00,High,NaN,NaN

There are some Nan in 'TEHBInnTier1FamilyMOOP' column. Is there anything else in this column?                                                             
Even some dollar icons and ','. We have to clean them:

In [18]:
plan_data['TEHBInnTier1FamilyMOOP']=plan_data['TEHBInnTier1FamilyMOOP'].str.replace('$','').str.replace(',','')
plan_data.head(3)

/usr/local/src/bluemix_jupyter_bundle.v36/notebook/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,BusinessYear,StateCode,IssuerId,ImportDate,PlanId,MetalLevel,TEHBInnTier1FamilyMOOP,TEHBInnTier1IndividualMOOP
0,2014,AK,21989,2014-03-19 07:06:49,21989AK0020002-00,Low,NaN,NaN
1,2014,AK,21989,2014-03-19 07:06:49,21989AK0020002-01,Low,NaN,NaN
2,2014,AK,21989,2014-03-19 07:06:49,21989AK0020001-00,High,NaN,NaN


Delete all the 'Not Applicable' rows:

In [19]:
plan_data=plan_data.drop(plan_data[plan_data['TEHBInnTier1FamilyMOOP']=='Not Applicable'].index)

Delete all the NAN rows:

In [20]:
plan_data['TEHBInnTier1FamilyMOOP']=plan_data['TEHBInnTier1FamilyMOOP'].fillna(99999999)
plan_data=plan_data.drop(plan_data[plan_data['TEHBInnTier1FamilyMOOP']==99999999].index)

Convert Import date to pandas date time.

In [21]:
plan_data['ImportDate']=plan_data['ImportDate'].apply(pd.to_datetime)

We are Changing the 'TEHBInnTier1FamilyMOOP' to 'Family_Up_Limit' for our better understanding.

In [22]:
plan_data['Family_Up_Limit']=''
for x in plan_data.index:
    plan_data.ix[x,"Family_Up_Limit"]=float(plan_data.ix[x,'TEHBInnTier1FamilyMOOP'])
plan_data['Family_Up_Limit']=plan_data['Family_Up_Limit'].astype(int) # Transfer object to int

We are also Changing the 'TEHBInnTier1IndividualMOOP' to 'Individual_Up_Limit' for better understanding

In [23]:
plan_data['TEHBInnTier1IndividualMOOP']=plan_data['TEHBInnTier1IndividualMOOP'].str.replace('$','').str.replace(',','')
plan_data['Individual_Up_Limit']=''
for x in plan_data.index:
    plan_data.ix[x,"Individual_Up_Limit"]=float(plan_data.ix[x,'TEHBInnTier1IndividualMOOP'])
plan_data['Individual_Up_Limit']=plan_data['Individual_Up_Limit'].astype(int) # Transfer object to int
plan_data.head(3)

,BusinessYear,StateCode,IssuerId,ImportDate,PlanId,MetalLevel,TEHBInnTier1FamilyMOOP,TEHBInnTier1IndividualMOOP,Family_Up_Limit,Individual_Up_Limit
6,2014,AK,73836,2014-04-18 11:49:29,73836AK0650002-00,Bronze,12700,6350,12700,6350
7,2014,AK,73836,2014-04-18 11:49:29,73836AK0680004-00,Gold,8000,4000,8000,4000
8,2014,AK,73836,2014-04-18 11:49:29,73836AK0680004-01,Gold,8000,4000,8000,4000

Drop the useless columns like 'TEHBInnTier1IndividualMOOP','TEHBInnTier1FamilyMOOP'

In [24]:
plan_df=plan_data.drop(plan_data[[6,7]],1)
plan_df.head(3)

,BusinessYear,StateCode,IssuerId,ImportDate,PlanId,MetalLevel,Family_Up_Limit,Individual_Up_Limit
6,2014,AK,73836,2014-04-18 11:49:29,73836AK0650002-00,Bronze,12700,6350
7,2014,AK,73836,2014-04-18 11:49:29,73836AK0680004-00,Gold,8000,4000
8,2014,AK,73836,2014-04-18 11:49:29,73836AK0680004-01,Gold,8000,4000

In [25]:
path = 'plan_df.feather'
feather.write_dataframe(plan_df, path)

In [26]:
plan_df1=planattribute_raw[['PlanId','IssuerId','BusinessYear','DentalOnlyPlan','IsNewPlan','OutOfCountryCoverage','NationalNetwork']]
plan_df1 = plan_df1.dropna()

In [27]:
train_df = plan_df1[1:70000]
test_df = plan_df1[70001:77353]

In [28]:
test_df=test_df.drop(['DentalOnlyPlan'], axis=1)
train_df=train_df.drop(['PlanId'], axis=1)

Conversion of age from a factor to a numeric variable: IsNewPlan,DentalOnlyPlan,OutOfCountryCoverage,NationalNetwork attributes belonging to           PlanAttribute.csv is filtered as follows: –                                  
Records with age value “Yes” is converted to numeric value 1                             
Records with age value “No“ are converted into numeric value 0       
Records with age value “New“ are converted into numeric value 1              
Records with age value “Existing“ are converted into numeric value 0

In [29]:
mapping = {'Yes':1,'No':0}
mapping1={'New':1,'Existing':0}
value=0
train_df['PlanType'] = train_df['DentalOnlyPlan'].map(mapping).astype(int)
train_df['NewPlan'] = train_df['IsNewPlan'].map(mapping1).astype(int)
test_df['NewPlan'] = test_df['IsNewPlan'].map(mapping1).astype(int)
train_df['CountryCoverage'] = train_df['OutOfCountryCoverage'].map(mapping).fillna(value).astype(int)
test_df['CountryCoverage'] = test_df['OutOfCountryCoverage'].map(mapping).fillna(value).astype(int)
train_df['NetworkType'] = train_df['NationalNetwork'].map(mapping).fillna(value).astype(int)
test_df['NetworkType'] = test_df['NationalNetwork'].map(mapping).fillna(value).astype(int)

train_df=train_df.drop(['DentalOnlyPlan','IsNewPlan','OutOfCountryCoverage','NationalNetwork'], axis=1)
test_df=test_df.drop(['IsNewPlan','OutOfCountryCoverage','NationalNetwork'], axis=1)

In [30]:
path = 'plan_train_df.feather'
feather.write_dataframe(train_df, path)
path = 'plan_test_df.feather'
feather.write_dataframe(test_df, path)

# Conclusion

### In this Notebook we have done
### 1 : Data Cleaning for both rate and plan files.
### 2 : We removed outliers from data.
### 3 : We have done feature extraction for ML and visualization

# Thanks!